/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.sidebar {
  height: 100vh;

  &__option {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 3rem;
    cursor: pointer;

    display: flex;
    align-items: center;

    &--top {
      margin-top: 3rem;
      padding: 1rem 3rem;
    }

    &:hover {
      background-color: $color-orange;
      color: $color-blue-dark;
    }
  }

  // MUI Icon Override
  &__icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin-right: 1.5rem;
    color: $color-blue-dark;
  }
}
