/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.sidebar {
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  position: relative;

  &__option {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: color 1s;

    display: flex;
    align-items: center;

    &--top {
      margin-top: 3rem;
      padding: 1rem 3rem;
    }

    &:hover {
      background-color: $color-orange;
      color: $color-blue-dark;
    }

    &__link:hover a {
      color: $color-blue-dark;
    }
  }

  // MUI Icon Override
  &__icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin-right: 1.5rem;
    color: $color-blue-dark;
  }
}

// Filter
#filter {
  background-color: $color-blue-dark;
  color: $color-orange;
  position: absolute;
  top: -2rem;
  left: 25rem;
  width: 3.5rem;
  height: 3rem;
  z-index: 2;
  border-radius: 0 0.5rem 0.5rem 0;

  @include center;

  &--icon {
    width: 2rem !important;
    height: 2.5rem !important;
    margin-left: -1rem;
  }

  &--input {
    visibility: hidden;
  }

  &:hover {
    color: $color-white;
  }
}
