/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.category {
  display: flex;
  font-family: 'Work Sans', sans-serif;

  &__sidebar {
    @include sidebar;
  }

  &__detail {
    @include detail;
  }

  &__wrap {
    width: 70%;
    min-width: 34rem;
  }

  &__section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;

    // background-color: pink;
  }

  &__select {
    margin-top: 3rem;
    margin-bottom: 1rem;

    &--container {
      min-width: 33rem;
      padding: 0.7rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
    }
  }

  &__form {
    min-width: 34rem;

    &--input {
      padding: 0.7rem 2rem;
      margin-top: 2.5rem;
      margin-right: 2rem;
      font-size: 1.7rem;
      background-color: transparent;
      border-bottom: 2px solid $color-blue-dark;
    }

    button {
      padding: 1rem 2rem;
      border-radius: 0.55rem;
      background-color: $color-blue-dark;
      font-weight: 600;
      color: white;

      &:hover {
        background-color: $color-orange;
        color: $color-blue-dark;
      }
    }
  }

  &__listContainer {
    width: 100%;
    margin-top: 3rem;
  }

  &__list {
    width: 100%;
    max-width: 82.5rem;
    min-width: 30rem;
    margin: 0.5rem 0 0;

    padding-left: 3rem;
    padding-right: 2rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 0.5rem;

    @include space-between;
    display: flex;

    &:hover {
      background-color: rgba(128, 128, 128, 0.05);
    }
  }

  &__name {
    flex: 1;
  }

  &__btn {
    padding: 1rem;
    margin-left: 0.5rem;
    background-color: transparent;

    // MUI icon override
    &--edit,
    &--delete {
      width: 2rem !important;
      height: 2rem !important;
      &:hover {
        color: $color-orange;
      }
    }

    &--edit {
      color: $color-blue-medium;
    }
    &--delete {
      color: $color-red-dark;
    }
  }
}
