/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.history {
  color: $color-blue-dark;
  font-size: 1.8rem;

  display: flex;

  &__sidebar {
    width: 20vw;
    background-color: pink;
    font-size: 1.5rem;
  }

  &__detail {
    flex: 1;
    background-color: lightblue;

    &--container {
      width: 100%;
      padding: 5rem;
    }

    &--title {
      font-size: 2.7rem;
      padding: 1rem;
      text-align: center;
    }
  }

  &__each {
    width: 100%;
    margin-bottom: 2rem;
    // background-color: red;
    border: 1px solid grey;

    @include center-column;

    &--orderInfo {
      width: 100%;
      padding: 0.7rem 1rem;
      background-color: white;

      @include center;
      justify-content: space-between;

      &--right {
        text-align: center;
        @include center;
      }

      &--total {
        margin-right: 2rem;

        small {
          padding: 0.3rem;
          font-size: 1.5rem;
          font-weight: 600;
          border-radius: 0.5rem;
          background-color: rgb(218, 217, 217);
        }
      }
    }

    &--prodInfo {
      width: 100%;
      @include center;
    }

    &--pdf {
      width: 100%;
      padding: 1rem;
      margin-left: 2rem;
      font-size: 1.5rem;
      background-color: rgb(210, 210, 210);
      border-radius: 0.5rem;
    }
  }

  &__h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  &__table {
    width: 100%;
    background-color: white;
    text-align: center;

    &--th {
      padding: 2rem 1rem 0;
      font-size: 1.5rem;
      border-top: 1px solid grey;
    }

    &--td {
      padding: 0.5rem 1rem;
    }

    &--img {
      width: 10rem;
      height: 8rem;
      object-fit: contain;
    }
  }
  &__orderStatus {
    width: 130%;
    padding: 0.8rem;
    // background-color: rgb(227, 226, 226);
    border-radius: 0.5rem;
    small {
      background-color: rgb(216, 216, 216);
      padding: 0.4rem 0.8rem;
      border-radius: 0.5rem;
    }
  }
}
