/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.history {
  color: $color-blue-dark;
  font-size: 1.8rem;

  display: flex;

  &__sidebar {
    @include sidebar;
  }

  &__detail {
    flex: 1;
    background-color: $color-grey-light;

    &--container {
      width: 100%;
      padding: 2rem 5rem 5rem;
    }

    &--title {
      font-size: 2.7rem;
      padding: 1rem;
      text-align: center;
      font-size: 4rem;
      font-family: 'Pushster', cursive;
    }
  }

  &__select {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &__each {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem $color-grey-medium;

    @include center-column;

    &--orderInfo {
      width: 100%;
      padding: 0.7rem 1rem;
      background-color: $color-blue-dark;

      @include center;
      justify-content: space-between;

      &--left {
        flex: 1;
        min-width: 31rem;
        // background-color: pink;
      }

      &--right {
        min-width: 39rem;
        text-align: center;
        @include center;
        // background-color: orange;
      }

      &--total {
        margin-right: 2rem;

        small {
          padding: 0.3rem;
          font-size: 1.5rem;
          font-weight: 600;
          border-radius: 0.5rem;
          background-color: rgb(218, 217, 217);
        }
      }
    }

    &--prodInfo {
      width: 100%;
      @include center;
    }

    &--pdf {
      padding: 1.2rem;
      margin-left: 2rem;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__h3 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
  }

  &__table {
    width: 100%;
    max-width: 124rem;
    background-color: white;
    text-align: center;

    &--th {
      padding: 2rem 1rem 1rem;
      font-size: 1.7rem;
      // border-bottom: 1px solid grey;
      // background-color: $color-blue-dark;
    }

    &--td {
      padding: 0.5rem 1rem;
      border: none;
      // border-bottom: 1px solid grey;
    }

    &--img {
      width: 10rem;
      height: 8rem;
      object-fit: contain;
    }
  }
  &__orderStatus {
    padding: 0.8rem;
    min-width: 15rem;
    border-radius: 0.5rem;

    small {
      background-color: orange;
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      color: $color-blue-dark;
      font-weight: 600;
      min-width: 13rem;
    }
  }

  &__subTotal {
    padding: 0.8rem 1rem 0.8rem 1.4rem;
    small {
      color: orange;
      font-size: 2rem;
    }
  }
}
