/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.productsList {
  display: flex;
  font-family: 'Work Sans', sans-serif;
  min-height: 140rem;

  &__sidebar {
    @include sidebar;
    height: 160rem;
    position: relative;
  }

  &__detail {
    @include detail;
    @include center-column;
    justify-content: start;
  }

  &__wrap {
    width: 70%;
    min-width: 41rem;
    max-width: 100rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  &__listContainer {
    width: 100%;
    margin-top: 3rem;
  }

  &__list {
    width: 100%;
    margin: 0.5rem 0 0;

    padding-left: 3rem;
    padding-right: 2rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 0.5rem;

    @include space-between;
    display: flex;

    &:hover {
      background-color: rgba(128, 128, 128, 0.05);
    }
  }

  &__idx {
    margin-right: 2rem;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
    padding: 0.5rem;
  }

  &__name {
    flex: 1;
  }

  &__btn {
    padding: 1rem;
    margin-left: 0.5rem;
    background-color: transparent;

    // MUI icon override
    &--edit,
    &--delete {
      width: 2rem !important;
      height: 2rem !important;
      &:hover {
        color: $color-orange;
      }
    }

    &--edit {
      color: $color-blue-medium;
    }
    &--delete {
      color: $color-red-dark;
    }
  }
}

#ToggleSidebar {
  @include sidebarToggle;
}
