/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.product {
  display: flex;
  font-family: 'Work Sans', sans-serif;

  &__sidebar {
    @include sidebar;
    height: 170rem;
    position: relative;
  }

  &__detail {
    height: 170rem;

    @include detail;
    @include center-column;
    justify-content: start;
  }

  &__wrap {
    width: 70%;
    height: 100vh;
    max-width: 110rem;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  &__file {
    width: 100%;
    background-color: orange;
    margin: 0 1rem;
  }

  &__container {
    width: 100%;
    // background-color: pink;
    font-size: 1.7rem;
    padding-bottom: 10rem;
  }

  &__form {
    margin-bottom: 5rem;

    @include center-column;
    align-items: start;

    label {
      font-weight: 600;
      font-size: 1.9rem;
    }
  }

  &__input {
    width: 100%;
    padding: 1.2rem 2rem 0.2rem;
    // margin-top: 2.5rem;

    font-size: 1.8rem;
    background-color: transparent;
    border-bottom: 2px solid $color-blue-dark;
  }

  &__select {
    width: 100%;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
  }

  &__btn {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: $color-blue-dark;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    background-color: $color-orange;
    color: $color-blue-dark;

    &:hover {
      background-color: $color-blue-dark;
      color: white;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &__icon {
    width: 2.7rem !important;
    height: 2.7rem !important;
    background-color: $color-white;
    border-radius: 50%;
    padding: 0.3rem;
    margin-left: 5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-light;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

#ToggleSidebar {
  @include sidebarToggle;
}
