/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.orders {
  display: flex;

  &__sidebar {
    @include sidebar;
    height: 350rem;
    position: relative;
  }

  &__detail {
    @include detail;
  }

  &__wrap {
    width: 70%;
    min-width: 72rem;
  }

  &__section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

#ToggleSidebar {
  @include sidebarToggle;
}
