/** @format */

@import 'variables.scss';

.login {
  background-color: red;

  &__header {
    &--main {
      color: $color-crimson-dark;
      font-size: 2rem;
    }

    &--sub {
      color: $color-green;
    }
  }
}
