/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.productInfo {
  &__detail {
    margin: 0.5rem 1rem;
  }

  &__list {
    padding: 0.5rem;
    border-bottom: 1px solid $color-grey-medium;

    @include space-between;

    &:hover {
      background-color: $color-grey-light;
    }
  }

  &__info.link {
    color: #1990ff;
  }
}
