/** @format */

// flexbox
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// User & Admin Pages
@mixin sidebar {
  width: 15vw;
  min-width: 25rem;
  max-width: 28rem;
  height: 100%;
  background-color: $color-orange-dark;
  font-size: 1.5rem;
}

@mixin detail {
  flex: 1;
  background-color: $color-grey-light;
  padding-top: 5rem;

  display: flex;
  justify-content: center;
}

@mixin sidebarToggle {
  background-color: $color-orange-dark;
  color: $color-blue-dark;
  position: absolute;
  top: 1rem;
  left: 24.9rem;
  width: 3.5rem;
  height: 3rem;
  z-index: 210000;
  border-radius: 0 0.5rem 0.5rem 0;

  @include center;

  &--icon {
    width: 2rem !important;
    height: 2.5rem !important;
    margin-left: -1rem;
  }

  &--input {
    visibility: hidden;
  }

  &:hover {
    color: $color-white;
  }
}
