/** @format */

// flexbox
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// User Pages
@mixin sidebar {
  width: 16vw;
  background-color: pink;
  font-size: 1.5rem;
  height: auto;
}

@mixin detail {
  flex: 1;
  background-color: lightblue;
  padding-top: 5rem;
  height: auto;

  display: flex;
  justify-content: center;
}
