/** @format */

$color-white: white;

$color-grey-dark: rgb(82, 82, 82);
$color-grey-medium: rgb(165, 165, 165);
$color-grey-light: rgb(242, 242, 242);

$color-orange: orange;
$color-orange-dark: #e67f00;

$color-red-dark: #b10808;

$color-crimson-dark: #ff5c58;
$color-crimson-medium: #fe8f8f;
$color-crimson-light: #fcd2d1;

$color-green: green;

$color-blue-medium: #1c6dd0;
$color-blue-dark: rgb(14, 14, 30);
