/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.dropdown {
  position: absolute;
  top: 5.6rem;
  right: 0rem;
  width: 20rem;
  background-color: white;
  padding: 1rem;
  // transform: translateX(-45%);
  overflow: hidden;
}

.menu {
  width: 100%;
  background-color: red;
}
