/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.dropdown {
  position: absolute;
  top: 4rem;
  right: -5rem;
  width: 13rem;
  color: $color-white;
  background-color: $color-blue-dark;
  padding: 1rem;
  overflow: hidden;
}
