/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.navbar {
  background-color: $color-blue-dark;
  width: 100%;
  height: auto;
  color: white;
  padding: 1rem 0 0.5rem;

  display: flex;
  align-items: center;

  &__nav {
    width: 100%;
    padding: 0 5rem;

    @include space-between;
  }

  &__ul {
    @include center;
  }

  &__logo {
    @include center;

    &--img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: cover;
      margin-right: 2rem;
      border: 3px solid white;
      border-radius: 50rem;
    }

    &--title {
      font-size: 2rem;
      color: $color-white;
    }
  }

  &__logout {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    cursor: pointer;

    @include center-column;

    small {
      margin-left: 0.5rem;
      margin-top: 0.3rem;
    }

    &:hover {
      color: orange;
    }
  }

  &__icon {
    margin: 0.3rem 0 0 0;
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}
