/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.navItem {
  color: $color-white;
  margin: 1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;

  &:hover {
    color: $color-orange;

    .navItem__count {
      background-color: $color-white;
    }
  }

  &__btn {
    @include center-column;

    &--title {
      padding-left: 0.8rem;
      padding-right: 0.4rem;
    }
  }

  &__count {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: $color-orange;
    width: 1.7rem;
    height: 1.7rem;
    z-index: 3;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-blue-dark;

    @include center;
  }
}
