/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.navItem {
  color: $color-white;
  margin: 1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;

  &:hover {
    color: $color-orange;
  }

  &__btn {
    @include center;

    &--icon {
      margin: 0.3rem 0 0 0;
    }

    &--title {
      padding-left: 0.8rem;
      padding-right: 0.4rem;
    }
  }
}
