/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.cart {
  width: 100%;
  padding-top: 3rem;
  @include center;

  &__container {
    width: 85%;
    @include center;
    align-items: start;
  }

  &__left {
    flex: 1 1 70%;
    padding: 3rem;
    min-width: 72rem;
    margin-right: 3rem;
    // background-color: pink;
  }

  &__right {
    flex: 0 1 30%;
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(188, 211, 220);
    min-width: 25.5rem;
  }

  // Left Section -----

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--btn {
      height: 50%;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: #e8e8e8;
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: 'Pushster', cursive;
  }

  &__table {
    &--th {
      padding: 1rem 2rem;
      background-color: $color-blue-dark;
      color: white;
      &.prodName {
        width: 200%;
      }
    }

    &--td {
      border-bottom: 1px solid $color-grey-medium;
      padding: 0.5rem 2rem;

      &.title {
        font-weight: 600;
        font-size: 1.6rem;
        color: $color-blue-dark;
      }

      &.count {
        text-align: center;
      }

      &.removeIcon {
        // @include center;
        text-align: center;
      }
    }

    &--tbody {
      &:hover {
        background-color: $color-grey-light;
        // color: orange;
      }
    }

    &--select {
      border: none;
      background-color: transparent;
      padding: 0.3rem 1rem 0.3rem 0;
      border-bottom: 1px solid rgb(194, 194, 194);
    }

    &--input {
      width: 100%;
      padding-left: 0.3rem;
      border-bottom: 1px solid rgb(194, 194, 194);
      background-color: transparent;
    }
  }

  //MUI Icon override
  &__icon {
    margin-top: 0.7rem !important;
    width: 1.8rem !important;
    height: 1.8rem !important;
    cursor: pointer;
    color: $color-red-dark;
  }

  // Right Section -----

  &__hr {
    margin: 1.5rem 0;
  }

  &__info {
    font-size: 1.7rem;
    margin: 0;
    padding: 0.2rem 0;
  }

  &__total {
    font-size: 1.8rem;
  }

  &__btn {
    &--checkout,
    &--login {
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.5rem;
      margin-top: 2rem;
      // background-color: $color-orange;
      background-color: $color-blue-dark;
      color: orange;
      font-size: 1.7rem;

      &:hover {
        color: white;
      }
    }
  }
}

// RESPONSIVE

@media (max-width: 995px) {
  .cart {
    padding-bottom: 5rem;

    &__container {
      @include center-column;
    }

    &__right {
      margin: 3rem 0rem 0 0;
      align-self: end;
    }
  }
}
