/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.checkout {
  width: 100%;
  @include center;

  &__container {
    width: 75%;
    padding-top: 3rem;
    @include center;
    align-items: start;
  }

  &__left {
    margin-right: 2rem;
    padding: 2rem 3rem 3rem;
    flex: 1 1 65%;
    background-color: rgb(225, 225, 225);
  }

  &__right {
    padding: 2rem 5rem 1rem;
    flex: 1 1 35%;
    font-size: 1.7rem;

    background-color: skyblue;
  }

  &__title {
    font-size: 2.7rem;
  }

  &__btn {
    &--address {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
    }

    &--order {
      margin: 1rem 0;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      width: 100%;
    }
  }

  &__info {
    margin-top: 3rem;

    &--total {
      font-size: 2rem;
    }
  }

  &__hr {
    margin-bottom: 1rem;
  }
}
