/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.shop {
  color: $color-blue-dark;
  font-family: 'Work Sans', sans-serif;
  background-color: $color-grey-light;
  // min-width: 66rem;

  &__container {
    @include center;
    align-items: start;
    position: relative;
    // min-width: 55rem;
  }

  &__left {
    padding: 3rem 0rem 3rem 2.5rem;
    background-color: white;
    position: relative;
    min-width: 25.5rem;
  }

  &__menu {
    min-width: 19.5rem;
    max-width: 23rem;
    background-color: white;
  }

  &__right {
    background-color: $color-grey-light;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 60%;
    min-width: 33rem;
    @include center-column;
  }

  &__title {
    &.right {
      font-family: 'Pushster', cursive;
      font-size: 5rem;
      margin: 3rem 0;
    }
  }

  &__products {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100rem;
    // background-color: red;
    @include center;
  }

  &__submenu {
    &--title {
      font-size: 1.7rem;

      @include center;
      justify-content: start;
    }

    // MUI Icon Override
    &--icon {
      width: 2rem !important;
      height: 2rem !important;
      margin-right: 1rem;
    }

    &--item {
      margin: 0 0.5rem;
    }

    // Ant Design Icon Override
    &--checkbox {
      margin: 0.2rem 0 !important;
    }

    &--subCategory {
      font-size: 1rem;
      font-weight: 600;
      margin: 0.32rem;
      padding: 1.2rem;
      background-color: rgb(213, 213, 213);
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &--brands {
      width: 46%;
      // margin-right: 2rem !important;
    }
  }
}

// Filter
#filter {
  background-color: $color-blue-dark;
  color: $color-orange;
  position: absolute;
  top: 1rem;
  left: 25.5rem;
  width: 3.5rem;
  height: 3rem;
  z-index: 2;
  border-radius: 0 0.5rem 0.5rem 0;

  @include center;

  &--icon {
    width: 2rem !important;
    height: 2.5rem !important;
    margin-left: -1rem;
  }

  &--input {
    visibility: hidden;
  }

  &:hover {
    color: $color-white;
  }
}

// Ant Design Override -----------------------
.ant-menu-submenu-title {
  padding: 0 !important;
  margin-top: 2rem !important;
}

.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
  padding-right: 1rem !important;
}

// ****** RESPONSIVE ******

@media (min-width: 200px) and (max-width: 500px) {
  .shop {
    &__container {
      max-width: 50rem;
    }

    &__left {
      z-index: 2;
      min-width: 25.5rem;
    }

    &__right {
      min-width: 5rem;
      padding: 0;
      z-index: -3;
      @include center-column;
    }

    &__products {
      width: 35rem;
    }
  }
}
