/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.shop {
  color: black;

  &__container {
    @include center;
    align-items: start;
  }

  &__left {
    width: 20%;
    padding: 3rem 2rem;
    // background-color: pink;
  }

  &__right {
    // background-color: skyblue;

    display: flex;
    flex: 1 1 60%;
    @include center-column;
  }

  &__title {
    &.left {
      font-size: 2rem;
      margin-top: 5rem;
      // background-color: rgb(213, 213, 213);
    }

    &.right {
      font-size: 3.7rem;
      margin: 3rem 0;
    }
  }

  &__products {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100rem;
    // background-color: red;
    @include center;
    justify-content: start;
  }

  &__submenu {
    &--title {
      font-size: 1.7rem;

      @include center;
      justify-content: start;
    }

    // MUI Icon Override
    &--icon {
      width: 2rem !important;
      height: 2rem !important;
      margin-right: 1rem;
    }

    &--item {
      margin: 0 0.5rem;
    }

    // Ant Design Icon Override
    &--checkbox {
      margin: 0.2rem 0 !important;
    }

    &--subCategory {
      font-size: 1rem;
      font-weight: 600;
      margin: 0.32rem;
      padding: 1.2rem;
      background-color: rgb(213, 213, 213);
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &--brands {
      width: 46%;
      // margin-right: 2rem !important;
    }
  }
}

// Ant Design Override -----------------------
.ant-menu-submenu-title {
  padding: 0 !important;
  margin-top: 2rem !important;
}

.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
  padding-right: 1rem !important;
}
