/** @format */

@import 'variables.scss';
@import 'mixin.scss';

.singleProduct {
  width: 100%;
  // padding-bottom: 2rem;
  @include center;

  &__container {
    width: 75%;
    padding: 5rem;
    @include center-column;
  }

  &__main {
    // background-color: orange;
  }

  &__sub {
    width: 100%;
    background-color: red;
    // margin: 6rem 0;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .singleProduct {
    &__container {
      width: 100%;
      padding: 5rem;
    }
  }
}

// @media (max-width: 899px) {
//   .singleProduct {
//     &__container {
//       width: 100%;
//       padding: 5rem;
//     }

//     &__left,
//     &__right {
//       width: 100%;
//       background-color: orange;
//     }
//   }
// }
